.footer {
  position: relative;
  bottom: 0;
  margin-top: -15%;
  height: 160px;
  width: 100%;
  align-items: center;
  display: flex;
  color: #fff;
  background-color: #431221;
  z-index: 100;
}

.footer > img {
  height: 90px;
  transform: rotate(270deg);
  margin-right: 30px;
}

.footer__name > p {
  font-size: 20px;
  font-weight: 500;
}
.footer__info {
  margin-left: 70%;
}

.footer__info > p {
  font-size: 20px;
  font-weight: 400;
}

.footer__info > img {
  height: 120px;
}
