.header {
  position: sticky;
  top: 0;
  height: 90px;
  width: 100%;
  align-items: center;
  display: flex;
  color: #fff;
  background-color: #431221;
  z-index: 100;
}
.header > h3 {
  font-size: 40px;
}
.header__img {
  height: 70px;
  width: auto;
}

.header__register {
  z-index: 1;
  margin-left: 60%;
}

.header__registerbtn {
  justify-content: center;
  place-items: center;
  width: 300px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 3px;
  border: 2px solid #bc83f8;
  background: #431221;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.header__registerbtn:hover {
  transition: 0.3s;
  color: #fff;
  background: #8628ec;
  width: 305px;
  height: 55px;
  border: 1px solid #8628ec;
}

@media (max-width: 540px) {
  .header {
    width: 500px;
  }

  .header > h3 {
    font-size: 20px;
  }

  .header__registerbtn {
    margin-left: -200px;
    width: 100px;
    height: 40px;
    font-size: 10px;
  }
}
