.home {
  display: flex;
  margin: 2% 20% 20%;
}

.home__content {
  position: relative;
}

.home__content > p {
  font-size: 40px;
  font-weight: 500;
  color: rgb(102, 99, 99);
}

.mySlides {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-top: -40px;
  margin-bottom: 40px;
  z-index: -1;
  border-radius: 4px;
}

.home__slidesp {
  margin-top: 20px;
  background: rgb(234, 237, 237);
  width: 400px;
  font-size: 30px;
  font-weight: 450;
  color: rgb(102, 99, 99);
}

.home__slidespt {
  margin-top: 20px;
  background: rgb(234, 237, 237);
  width: 400px;
  font-size: 30px;
  font-weight: 450;
}

@media (max-width: 540px) {
  .home__content > P {
    font-size: 20px;
  }

  .mySlides {
    width: 100%;
  }

  .home__slidesp,
  .home__slidespt {
    margin-bottom: 30px;
    width: 130px;
    font-size: 10px;
  }
}
